extends layout 

block content 
    div(class="form-container")
        form(action="/users/login", method="post")
            h1(class='heading') Login
            label(for="username") Username
            input(type="text", name='username')
            label(for="password") Password 
            input(type="password", name='password')
            button(type="submit") Login